.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #F5F8FF;
}

.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.5 ease-in;
}
.btn-primary:hover{
    background: lightcoral;
}

/* header styles */
.header {
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    height: 698px;
    width: 100%;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h3,
nav ul a {
    margin: 50px 150px;
}


.nav-title {
    font-weight: black;
    font-size: 34px;
    color: #4E47FF;

}

.banner {
    width: 800px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

.banner-head {
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 25px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* action styles */
.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
     margin-top: 80px ;
}

.ac1 {
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 15px;
}

.ac2 {
    font-weight: Regular;
    font-size: 24px;
    color: #252432;
    margin-bottom: 15px;
}
.ac3{
    border-radius: 28px;
    width: 375px;
    height: 300px;
}
/* productive user styles */
.pro-user{
     margin-top: 80px;
    background-color: rgba(78,71,255,10%); 

    padding: 50px 140px;
    border-radius: 20px;
    
}
.pu-1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.pu-2{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.pu-3{
    font-size: 20px;
    font-weight: Regular;
    color: #000000;  
    margin-top: 5px; 
}
.user-number{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* review styles */
.review-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-top: 126px;
}
/* reaction styles */
.star{
    display: flex;
    height: 20px;
    width: 100px;
    box-shadow: none;
    gap: 5px;
}
.below-star{
    margin-top: 24px;
color: #1E1E1E;
}
.below-love{
margin-top: 8px;
color: #1E1E1E;
}
.person{
display: flex;
gap: 10px;

}
.name{
    margin-top: 20px;
color: #757575;
}
.date{
    margin-top:3px ;
color: #B3B3B3;
}
.avatar{
    border-radius: 50%;
}
.reaction{
    display: flex;
    margin-top: 50px;
    gap: 15px;
} 
.card{
    width: 33%;
    height: 200px;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 24px;

}
/* focus styles */
.focus{
    text-align: center;
    margin-top: 137px;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 71px 150px;
}
.f1{
margin-top: 20px;
font-size: 50px;
font-weight: bold;
color: #000000;
}
.f2{
margin-top: 20px;
margin-bottom: 20px;
color: #000000;
}
.f3{
margin-top: 20px;
width: 840px;
height: 365px;
border-radius: 48px;
}

/* newsletter styles */
.newsletter{
    display: flex;
    padding: 71px  0px;
    /* gap: 115px; */
     justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.title{
    color: #000000;
    font-weight: bold;
    font-size: 77px;
    
}
.place{
    font-size: 18px;
    font-weight: Medium;
}
.form{
    width: 40%;
}
.form input[type="email"]{
    height:20px ;
    width: 390px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px 32px;
    border: none;
    
}
.form input[type="text"]{
    height:15px ;
   width: 390px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px 32px;
     border: none;
    
}
.form textarea{
    height:15px ;
    width: 390px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px 32px;
     border: none;
    
}
.form button{
    margin-top: 15px;
    width: 455px;
}
/* footer styles */
.foot{
    padding-top: 104px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 428px;
    background-color: #FFFFFF;
}
.logo{
color: #4E47FF;
font-weight: Black;
font-size: 100px;
margin-bottom: 20px;
}
.last ul {
 margin-top: 20px;  
color: #8987A1;
display: flex;
justify-content: center;
gap: 48px;
}
.last ul li{
    list-style: none;
    
}
.last ul li a{
    text-decoration: none;
    color: #8987A1;
}
.foot p{
    color: #8987A1;
}
