.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

/* shared styles */
/* .text-primary{
    color: #4E47FF;
} */
.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

/* header styles */
.header {
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    height: 698px;
    width: 100%;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h3,
nav ul a {
    margin: 50px 150px;
}


.nav-title {
    font-weight: black;
    font-size: 34px;
    color: #4E47FF;

}

.banner {
    width: 800px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

.banner-head {
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 25px;
}

/* action styles */
.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 150px;
}

.ac1 {
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin-bottom: 15px;
}

.ac2 {
    font-weight: Regular;
    font-size: 20px;
    color: #252432;
    margin-bottom: 15px;
}
.ac3{
    border-radius: 28px;
    width: 375px;
    height: 300px;
}
/* productive user styles */
.pro-user{
    margin: 50px 140px;
    background-color: #eaeaf4;
    padding: 90px auto;
}
.pu-1{
    align-items: center;
}
.user-number{
    display: flex;
    align-items: center;
    justify-content: space-between;
}